@font-face {
  font-family: "toast-icon";
  src: url("./font/toast.eot") format("eot"),
    url("./font/toast.woff") format("woff"),
    url("./font/toast.ttf") format("truetype"),
    url("./font/toast.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

.toast-container {
  position: fixed;
  padding: 10px;
  font-family: inherit;
  max-height: 100%;
  overflow-y: auto;
  z-index: 1051;
  --toast-success: #46d565;
  --toast-error: #ff355b;
  --toast-info: #3086eb;
  --toast-warning: #fbc121;
  --toast-theme-dark: #121212;
  --toast-theme-light: #fff;
  --toast-text-white: "white";
  --toast-text-gray: #908f94;
}

.toast-container::-webkit-scrollbar {
  display: none;
}

.toast-container[data-position^="top"] {
  top: 0px;
}

.toast-container[data-position^="bottom"] {
  bottom: 0px;
}

.toast-container[data-position$="center"] {
  left: 50%;
  transform: translateX(-50%);
}

.toast-container[data-position$="right"] {
  right: 0px;
  --animation-show: toast_slideInRight;
  --animation-hide: toast_slideOutRight;
}

.toast-container[data-position$="left"] {
  left: 0px;
  --animation-show: toast_slideInLeft;
  --animation-hide: toast_slideOutLeft;
}

.toast-container[data-position="bottom-center"] {
  --animation-show: toast_slideInBottom;
  --animation-hide: toast_slideOutBottom;
}

.toast-container[data-position="top-center"] {
  --animation-show: toast_slideInTop;
  --animation-hide: toast_slideOutTop;
}

@media only screen and (max-width: 450px) {
  .toast-container {
    width: 100%;
  }
  .toast-container[data-position$="center"] {
    left: 0px;
    transform: none;
  }
}

.toast-container[data-position^="top"] .toast {
  margin-bottom: 1rem;
}

.toast-container[data-position^="bottom"] .toast {
  margin-top: 1rem;
}

.toast {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 320px;
  color: white;
  padding: 20px 15px;
  filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.15));
  cursor: pointer;
  border-radius: 4px;
  position: relative;
  animation: var(--animation-show) 0.3s linear forwards;
}

.toast:is(.hide) {
  animation: var(--animation-hide) 0.3s linear forwards;
}

.toast .icon {
  display: flex;
  align-self: center;
}

.toast .icon i {
  font-size: 24px;
}

.toast span {
  font-size: 15px;
  font-weight: bold;
  line-height: 1.2rem;
}

.toast button {
  position: absolute;
  right: 10px;
  top: 2px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.toast button {
  font-weight: bold;
  font-size: 22px;
}

.toast button:is(.hide) {
  display: none;
}

.toast .progress {
  position: absolute;
  height: 5px;
  bottom: 0px;
  left: 0px;
  animation: toast_progress var(--progress-animation) linear forwards;
  overflow: hidden;
  border-radius: 0px 0px 0px 4px;
}

.toast[data-theme="coloured"][data-type="success"] {
  background-color: var(--toast-success);
}

.toast[data-theme="coloured"][data-type="error"] {
  background-color: var(--toast-error);
}

.toast[data-theme="coloured"][data-type="warning"] {
  background-color: var(--toast-warning);
}

.toast[data-theme="coloured"][data-type="info"] {
  background-color: var(--toast-info);
}

.toast[data-theme="light"] {
  background-color: var(--toast-theme-light);
}
.toast[data-theme="light"] span {
  color: var(--toast-text-gray);
}

.toast[data-theme="light"] button {
  color: var(--toast-text-gray);
}

.toast[data-theme="dark"] {
  background-color: var(--toast-theme-dark);
}

.toast[data-theme="dark"] span {
  color: var(--toast-text-white);
}

.toast[data-theme="dark"] button {
  color: var(--toast-text-white);
}

.toast[data-theme="coloured"] span {
  color: var(--toast-text-white);
}

.toast[data-theme="coloured"] button {
  color: var(--toast-text-white);
}

.toast .icon i {
  font-family: "toast-icon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 28px;
}

.toast[data-type="success"] .icon i::before {
  content: "\f058";
  color: var(--toast-success);
}

.toast[data-type="error"] .icon i::before {
  content: "\f057";
  color: var(--toast-error);
}

.toast[data-type="warning"] .icon i::before {
  content: "\f06a";
  color: var(--toast-warning);
}

.toast[data-type="info"] .icon i::before {
  content: "\f05a";
  color: var(--toast-info);
}

.toast[data-theme="coloured"][data-type] .icon i::before {
  color: var(--toast-text-white);
}

.toast[data-theme="light"][data-custom="true"] .icon i::before,
.toast[data-theme="dark"][data-custom="true"] .icon i::before {
  color: var(--custom-bg);
}

.toast[data-type][data-theme="coloured"] .progress {
  background-color: #ffffff;
}

.toast[data-type="error"] .progress {
  background-color: var(--toast-error);
}

.toast[data-type="success"] .progress {
  background-color: var(--toast-success);
}

.toast[data-type="warning"] .progress {
  background-color: var(--toast-warning);
}

.toast[data-type="info"] .progress {
  background-color: var(--toast-info);
}

.toast[data-custom="true"][data-theme="light"] .progress,
.toast[data-custom="true"][data-theme="dark"] .progress {
  background-color: var(--custom-bg);
}

.toast[data-custom="true"][data-theme="coloured"] {
  background-color: var(--custom-bg);
}

@media only screen and (max-width: 450px) {
  .toast {
    width: 100%;
  }
}

@keyframes toast_slideInTop {
  from {
    transform: translateY(-100vh);
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes toast_slideOutTop {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100vh);
  }
}

@keyframes toast_slideInBottom {
  from {
    transform: translateY(100vh);
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes toast_slideOutBottom {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(100vh);
  }
}

@keyframes toast_slideInLeft {
  from {
    transform: translateX(-100vh);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes toast_slideOutLeft {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-100vh);
  }
}

@keyframes toast_slideInRight {
  from {
    transform: translateX(100vh);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes toast_slideOutRight {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(100vh);
  }
}

@keyframes toast_progress {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}
